/* Reset styles */

@import url(css/vendor/reset.css);

/* Index styles */

@import url(css/components/index.css);



/* Header styles */

@import url(css/components/header.css);



/* Showcase styles */

@import url(css/components/main/showcase.css);

/* Clients styles */

@import url(css/components/main/clients.css);

/* Services styles */

@import url(css/components/main/services.css);

/* Marketing styles */

@import url(css/components/main/marketing.css);

/* Advantages styles */

@import url(css/components/main/advantages.css);

/* Testimonials styles */

@import url(css/components/main/testimonials.css);

/* Blog styles */

@import url(css/components/main/blog.css);

/* Start styles */

@import url(css/components/main/start.css);



/* Footer styles */

@import url(css/components/footer.css);