.wrapper {
    min-height: 100%;
}

[class *= "__container"] {
    max-width:  1300px;
    margin: 0 auto;
    padding: 0px 10px;
}
body {
    color: #FFFFFF;
    background-color: #0D0D11;
}
a {
    color: #FFFFFF;
}
.circle {
    background-color: #81818B4D;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 0.875rem;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    display: inline-block;
    font-family: 'Poppins';
    text-align: center;
    color: #FFFFFF;
    background-color: #3D96F4;
    padding: 1rem 1.875rem;
    border-radius: 3.125rem;
    white-space: nowrap;
}

.title {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 3.8125rem;
}

.description {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.6875rem;
}