.wrapper {
    min-height: 100%;
}

[class *= "__container"] {
    max-width:  1300px;
    margin: 0 auto;
    padding: 0px 10px;
}

body {
    color: #FFFFFF;
    background-color: #0D0D11;
    font-family: 'Poppins';
}

a {
    color: #FFFFFF;
}

.button {
    display: inline-block;
    font-family: 'Poppins';
    text-align: center;
    color: #FFFFFF;
    background-color: #3D96F4;
    padding: 1rem 1.875rem;
    border-radius: 3.125rem;
    white-space: nowrap;
}

.title {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 3.8125rem;
}

.description {
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    color: #9C9C9C;
}

@media (max-width: 991.98px) {
    .title {
        font-size: 2.5rem;
    }
    .description {
        font-size: 1rem;
    }
}
@media (max-width: 575.98px) {
    .title {
        font-size: 2rem;
        line-height: 3.125rem;
    }
}